In [1]:
import pandas as pd
import os
import numpy as np

root = '/Users/jingookwon/Library/CloudStorage/OneDrive-Personal/Documents/GitHub/ICC/implied-cost-of-capital'

In [2]:
df = pd.read_csv(os.path.join(root, 'WRDS-DATA', 'icc_us.csv'))

In [3]:
df.head()

      id    datadate  icc_ct   icc_gls  icc_peg  icc_oj  numest1_avg
0  10001  1989-03-16     NaN  0.104741      NaN     NaN          NaN
1  10001  1989-04-20     NaN  0.100165      NaN     NaN          NaN
2  10001  1989-05-18     NaN  0.103508      NaN     NaN          NaN
3  10001  1989-06-15     NaN  0.101952      NaN     NaN          NaN
4  10001  1989-07-20     NaN  0.103508      NaN     NaN          NaN

In [4]:
df['id'].nunique()

17887

In [5]:
df['id'].astype(str).str.startswith('2').nunique()

2

In [6]:
df[df['id'].astype(str).str.len() > 5]['id'].nunique()

0

In [7]:
df.dtypes

id               int64
datadate        object
icc_ct         float64
icc_gls        float64
icc_peg        float64
icc_oj         float64
numest1_avg    float64
dtype: object

In [8]:
df['datadate'] = pd.to_datetime(df['datadate'], errors='coerce')

In [10]:
df['datadate'].describe()

count                          1813362
mean     2003-03-15 02:45:15.386778880
min                1976-06-17 00:00:00
25%                1994-01-20 00:00:00
50%                2002-12-19 00:00:00
75%                2013-05-16 00:00:00
max                2024-12-19 00:00:00
Name: datadate, dtype: object

In [11]:
df.head()

      id   datadate  icc_ct   icc_gls  icc_peg  icc_oj  numest1_avg
0  10001 1989-03-16     NaN  0.104741      NaN     NaN          NaN
1  10001 1989-04-20     NaN  0.100165      NaN     NaN          NaN
2  10001 1989-05-18     NaN  0.103508      NaN     NaN          NaN
3  10001 1989-06-15     NaN  0.101952      NaN     NaN          NaN
4  10001 1989-07-20     NaN  0.103508      NaN     NaN          NaN

In [12]:
df_check = df.dropna()

In [13]:
df_check.head()

       id   datadate    icc_ct   icc_gls   icc_peg    icc_oj  numest1_avg
62  10001 1994-07-14  0.096873  0.074308  0.081726  0.112581          2.0
63  10001 1994-08-18  0.095048  0.073525  0.078295  0.108728          2.0
64  10001 1994-09-15  0.087621  0.072755  0.065568  0.094284          2.0
65  10001 1994-10-20  0.090265  0.073525  0.066022  0.096190          2.0
66  10001 1994-11-17  0.090558  0.071719  0.065124  0.099903          2.0

In [14]:
df_check = df_check.sort_values(['datadate','id'])

In [15]:
df_check.head()

          id   datadate    icc_ct   icc_gls   icc_peg    icc_oj  numest1_avg
7120   10137 1981-12-17  0.140171  0.156411  0.083571  0.165788    16.083333
12814  10225 1981-12-17  0.186760  0.156360  0.153347  0.195635     8.250000
23141  10401 1981-12-17  0.155200  0.155508  0.111490  0.180014    19.833333
27013  10487 1981-12-17  0.154426  0.126710  0.148636  0.197973     9.166667
28378  10516 1981-12-17  0.164364  0.145606  0.156125  0.164047    14.250000

In [16]:
df = df.sort_values(['datadate','id'])

In [17]:
df.head()

           id   datadate  icc_ct   icc_gls  icc_peg  icc_oj  numest1_avg
30738   10559 1976-06-17     NaN  0.128201      NaN     NaN          NaN
129104  12626 1976-06-17     NaN  0.150137      NaN     NaN          NaN
140551  13100 1976-06-17     NaN  0.114619      NaN     NaN          NaN
169934  13936 1976-06-17     NaN  0.186473      NaN     NaN          NaN
184503  14322 1976-06-17     NaN  0.083618      NaN     NaN          NaN